=text($weight, $size, $height, $color)
    font-family: 'Montserrat'
    font-style: normal
    font-weight: $weight
    font-size: $size
    line-height: $height
    color: $color

=header_text($weight, $size, $height, $color)
    font-family: 'Playfair Display'
    font-style: normal
    font-weight: $weight
    font-size: $size
    line-height: $height
    color: $color

=button_filled()
    cursor: pointer
    height: 75px
    background-color: $base_color
    +text(600, 20px, 24px, $main_text_color)
    align-items: center
    justify-content: space-around
    display: flex
    border-radius: 5px

=button_blank()
    cursor: pointer
    height: 75px
    +text(600, 20px, 24px, $base_color)
    align-items: center
    justify-content: space-around
    display: flex
    border: 3px solid $base_color
    border-radius: 5px


=box()
    cursor: pointer
    min-width: 830px
    height: 475px
    padding: 50px 60px
    display: flex
    flex-direction: column
    justify-content: space-between
    &_main_text
        +header_text(500, 23px, 29px, $second_text_color)
    &_second_text
        +text(400, 16px, 20px, $second_text_color)
    .lower_part
        display: flex
        justify-content: space-between
        +text(500, 18px, 25px, $second_text_color)
        align-items: end
    

=box_hover($scale)
    background-size: $scale
    

=button_hover()
    transform: scale(1.05)

=social_medias()
    margin-top: 130px
    width: 209px
    height: 53px
    text-align: center
    &_title
        letter-spacing: 0.01em
        +text(400, 14px, 17px, $second_text_color)
    &_logos
        margin-top: 15px
        display: flex
        justify-content: space-between
        align-items: center
    &_logos > img
        cursor: pointer

=active_link()
    cursor: pointer
    +text(500, 15px, 18px, $second_text_color)
    cursor: pointer
    &:after
        content: ''
        display: block
        margin: 0 auto
        height: 2px
        width: 0%
        background-color: #fff
    &:hover
        &:after  
            width: 100%